<div class="container mt-lg-5">
    <div class="content">
        <img src="../../../../assets/images/footerbg.jpg" alt="" srcset="">
    </div>
    <footer class="row">
      <div class="sozial col-xs-12 col-sm-6 col-sm-push-6">
        <ul class="row">
            <div class="logos">
                <li class="col-xs-6 col-sm-2">
                    <a href="#">
                      <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_facebook-128.png">
                    </a>
                  </li>
                  <li class="col-xs-6 col-sm-2">
                    <a href="#">
                      <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/twitter_online_social_media-128.png">
                    </a>
                  </li>
                  <li class="col-xs-6 col-sm-2">
                    <a href="#">
                      <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/instagram_online_social_media_photo-128.png">
                    </a>
                  </li>
                  <li class="col-xs-6 col-sm-2">
                    <a href="#">
                      <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_google_plus-128.png">
                    </a>
                  </li>
            </div>
          
        </ul>
        <p> &copy; Conceptualización de servicios en la nube </p>
        <p>ASESOR: GARATE KELLY, MIGUEL </p>
    </div><!-- Ende Sozial media -->
      
      <div class="copyright col-xs-12 col-sm-3 col-sm-pull-6">
       
        <p> Unidad 3. Desarrollo de aplicaciones web en los servicios de la nube </p>
        <p> 3.2. Sitio Web sencillo</p>
        
      </div><!-- Ende Copyright -->
      
      <div class="impressum col-xs-12 col-sm-3 col-sm-pull-6">
        <p> <strong>Emmanuel Solis Ruíz</strong> </p>
        <p> <strong>Código: </strong>222353748</p>
        <p><strong>Correo: </strong>emma.ruso@outlook.com</p>
      </div><!-- Ende Impressum -->
    </footer>
  </div>