body
{
  background-color: wheat;
  width: 100%;
}
li
{
  list-style-type: none;
  margin-left: 1vw;
}

li:first-child
{
  margin:0;
}

footer
{
  padding-top: 5vh;
  padding-bottom: 2vh;
}

.content
{
  height: 50vh;
  
  background-color: lightgray;
    
}
.content img {
    width: 100%;
    height: 100%;
}

.container
{
    margin-top: 50px;
    width: 100%;
  background-color: beige;
}

.copyright,  .impressum
{
  text-align: left;
}

.logo
{
  height: 8vh;
}
.logos {
    display: flex;
    flex-direction: row;
 }

@media (max-width: 768px) 
{
 .row{
    display: flex;
    flex-direction: column-reverse;
 }
 .row>*{
    width: auto;
 }

  li
  {
    margin-left: 0;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: row;
  }
  
  .sozial
  {
    margin-bottom: 1vh;
   
  }
}
@media (min-width: 1200px){

  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1440px;
  }
}
