<h2 class="text-center">Catálogo</h2>
<div class="mt-5 container container-fluid   mx-auto d-flex align-items-center justify-content-center">
 <div class="card mx-auto">
    <router-outlet></router-outlet>
     <div class="card-header ">
        <a type="button" class=" btn btn-danger float-right d-flex" routerLink="/crear-pelicula">+Agregar</a>
    </div>
    <div class="card-body ">
        <table class="table table-primary table-responsive  table-striped table-hover">
            <thead class="bg-gray-50">
                <tr>
                    <th>ID</th>
                    <th>Cover</th>
                    <th>Titulo</th>
                    <th>Año</th>
                    <th>Resúmen</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
                <tr *ngFor="let movie of movies" class="text-sm font-medium text-gray-900">
                    <td class="px-6 py-4">
                        <span class="px-2 inline-flex text-xs ">
                            {{movie.id}} 
                        </span>
                    </td>
                    <td><img [src]="movie.cover"></td>
                    <td>{{movie.title}}</td>
                    <td>{{movie.year}}</td>
                    <td>{{movie.synopsis}}</td>
                    <td>
                        <div class="container">
                            <a class="btn btn-primary sm" routerLink="/movies/{{movie.id}}">Ver</a>
                            <button (click)="onEdit(movie)" type="submit"class="btn btn-success sm">Editar</button> 
                            <button type="button" (click)="onDelete(movie.id)" class="btn btn-danger sm">Borrar</button>
                            <!-- <a class="btn btn-danger" (click)="deleteMovie(movie.id)">Eliminar</a> -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
 </div>
</div>