
  <div class="" id="banner">
    <img class="kenburns-top" id="img-banner" src="assets/images/collage.jpg" alt="futuro">
</div>
<header>
  <h1>¿Te encanta el cine?</h1>
  <h2>¡Ver tus películas favoritas desde la comodidad de tu hogar es posible!</h2>
</header>
<main>
  <section class="hero">
    <h1>Cineteca</h1>
    <p>
      Con este catalogo de videos, tienes acceso a una biblioteca de millones de películas, incluyendo los últimos estrenos, clásicos del cine y películas independientes.
    </p>
    <p>
      También puedes ver tus películas en cualquier dispositivo, ya sea tu televisor, tu computadora o tu teléfono.
    </p>
    <p>
      ¡Y lo mejor de todo, Cineteca es muy asequible!
    </p>
    <a href="/movies">
      ¡Regístrate hoy mismo y empieza a disfrutar de las mejores películas!
    </a>
  </section>
  <section class="features">
    <h3>Características principales</h3>
    <ul>
      <li>Gran biblioteca de películas</li>
      <li>Disponibilidad en múltiples dispositivos</li>
      <li>Precio asequible</li>
    </ul>
  </section>
  <section class="call-to-action">
    <h3>¡Cineteca es el mejor lugar para ver películas!</h3>
    <a href="[Enlace al sitio web de streaming]">Regístrate ahora</a>
  </section>
</main>

